body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
    font-family: Arial, Helvetica, sans-serif;

}



.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 100vh;
    height: 400px;
    width: 1024px;
    padding-bottom: 120px;

}

.top {
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 80px;

}

.bot {
    display: flex;
    justify-content: space-between;
    align-items:center;

}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 350px;
    margin-bottom: 8px;
}

.bottom-left {
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 16px 0;
}

li {
    color: #E5E7EB
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.top-button {
    flex: 0;
}

button{
    border-radius: 6px;
    background-color: #3882F6;
    color: white;
    padding: 8px 32px;
    border: 1px solid #3882F6;
    font-weight: bold;
    font-size: 16px;

}

.header-img {
    max-width: 500px;
    height: auto;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.cards {
    display: flex;
}

.section1-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 36px 0;
}

.card {
    max-width: 150px;
    margin: 0 36px;
    display: flex;
    flex-direction: column;
}

.card img {
    max-width: 150px;
    height: auto;
}

.card p {
    text-align: center;
}

.section2 {
        background-color: #E5E7EB;
        display: flex;
        flex-direction: column;
        padding: 80px 100vh;
        width: 820px;
}

.section2-p1 {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0;
}

.section2-p2 {
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 16px;
}

.section3 {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;    
    box-sizing: border-box;
    margin: 100px 0;
    padding: 48px 0;
    width: 1024px;
    justify-content: space-between;
}

.section3-p1,
.section3-p2 {
    color: #F9FAF8;
}

.section3-p1 {
    font-size: 24px;
    font-weight: bold;
}

.section3-p2 {
    font-size: 18px;
}

.section3-left {
    margin-left: 120px;
}

.section3-button {
    margin-right: 100px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    border: 2px solid #F9FAF8;
    font-weight: bold;
    font-size: 16px;
    height: fit-content;
}

.footer {
    padding: 16px 100vh;
    background-color: #1F2937;
    color: #F9FAF8;
}

.footer p {
    width: 300px;
}